{% extends "base.html" %}
{% block title %} Projekty {% endblock %}
{% block content %}
    <table class="table table-striped">
        <tr>
            <th>numer projektu</th>
            <th>nazwa projektu</th>
            <th>data do druku</th>
        </tr>
        {% for data in technical_data %}
        <tr>
            <td><a href="{% url 'project' data.id %}"> {{data.project_number}} </a></td>
            <td>{{data.project_name}}</td>
            <td>{{data.date_to_be_printed}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
